
{% extends 'header.html' %}
{% load crispy_forms_tags %}

{% block content %}


{% if request.user.username %}


<h2>{{ request.user.id }} </h2>-<h2>Welcome {{ request.user.username }}</h2>


<form action="" method="post" novalidate> {% csrf_token %}
{{ form | crispy }}
<input type="submit" value="submit">
</form>

{% else %}

<a href="/signin">Login</a>

{% endif %}

{% endblock %}




{#{% extends 'header.html' %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{#<form action="" method="post" novalidate> {% csrf_token %}#}
{#{{ form | crispy }}#}
{#    <input type="text" value="{{ request.user.id  }}" name="id">#}
{#<input type="submit" value="submit">#}
{#</form>#}
{#{% endblock %}#}


