<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    


{% extends 'header.html' %}
{% load crispy_forms_tags %}

{% block content %}


{% if request.user.username %}

<!-- 

<h2>{{ request.user.id }} </h2>- -->
<h2>Welcome {{ request.user.username }}</h2>

<title>Timeline</title>
  
    {% for obj in documents %}
      <li>
        <h1>{{ obj.title }}</h1>
               <h4 style="color: blue">{{ obj.author }}</h4>
          <p> {{ obj.description }} </p>

        <small>(Uploaded at: {{ obj.uploaded_at }})<small/><br>
        <img src=" {{ obj.document.url }} " height="312px" width="820px" >

            <form name="likeform" action="like ">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="hidden" value="{{ obj.id }}">
                <input type="hidden" value="{{ request.user.id }} ">
                <!-- <input type="submit" value="Like"> -->
                <button type="submit" value="{{ obj.id }}" class="btn btn-primary">Like</button>
            </form>


            <form name="commentForm" >
                {% csrf_token %}
                {{ form | crispy }}
              <input type="hidden" value="{{ request.user.id }}" name="commented_by">
              <input type="text"
              cols="40" 
              rows="5" 
              style="width:650px; height:35px;" 
              name="commentbox" 
              value="" />
              <span><a href="comment/{{ obj.id }}" class="btn btnprimary "> Post Comment</a> </span>
          </form>

          
        

      {% for com in comment %}
         <div  style="border: 2px solid Tomato;"> 
          {% if com.post_id == obj.id  %}

          <div><font color= "green"  style=" font-size: 15px;background-color:DodgerBlue;">{{ com.person }}</font></div> 
          <p >{{ com.comment }}</p>
         <!-- </font><font color= "blue"  style="font-size:40px;"><p></p></font></div>  -->

          {% endif %}

         </div>
    {% endfor %}

           <!-- <span><a href="like/{{ obj.id }}" class="btn btnprimary btn-sm like">Like</a> </span> -->
       <!-- <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>-->
      </li>

    {% endfor %}
 

{% else %}

<a href="/signin">Login</a>

{% endif %}

{% endblock %}